.cl-1{
    background: #c4cd5c;
}
.cl-2{
    background: #14dc21;
}
.cl-3{
    background: #5d008b;
}
.cl-4{
    background: #c0f0ff;
}
.cl-5{
    background: #ed0077;
}
.cl-6{
    background: #c71585;
}
.cl-7{
    background: #2a4c2a;
}
.cl-8{
    background: #c8f9e6;
}
.cl-9{
    background: #8b502e;
}
.cl-10{
    background: #006400;
}
.cl-11{
    background: #32cd75;
}
.cl-12{
    background: #808000;
}
.cl-13{
    background: #adff2f;
}
.cl-14{
    background: #00ff00;
}
.cl-15{
    background: #ebff7a;
}
.cl-16{
    background: #ff4500;
}
.cl-17{
    background: #ffa500;
}
.cl-18{
    background: #000000;
}
.cl-19{
    background: #f4a460;
}
.cl-20{
    background: #8b4513;
}
.cl-21{
    background: #d2691e;
}
.cl-22{
    background: #3f2aa5;
}
.cl-23{
    background: #000680;
}